# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Segredos e ambiente
.env

# Testes e qualidade
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db